<div class="container wrapper">
	<div class="row">
		<div class="col-lg-12">
			<div class="jumbotron" id="burgertron">
				<h1>Eat-Da-Burger!</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<div class="panel panel-warning">
  				<div class="panel-heading">
    			<h3 class="panel-title">Devoured It!</h3>
  				</div>
  				<div class="panel-body">
						<ul>
						  {{#each burgers}}
						    {{#unless this.devoured}}
						      <li>
						        {{this.burgerName}}
						        <form action="burgers/updateOne/{{this.burgerName}}?_method=PUT" method="POST">
						          <input type="hidden" name="devoured" value="true">
						          <button type="submit">Devoured it!</button>
						        </form>
						      </li>
						    {{/unless}}
						  {{/each}}
						</ul>
 			    </div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-warning">
  				<div class="panel-heading">
    			<h3 class="panel-title">Add Burger</h3>
  				</div>
  				<div class="panel-body">
						<form class="create-update-form" action="burgers/insertOne" method="POST">
						  <div class="form-group">
						    <input type="text" id="ca" name="burgerName">
						  </div>
						  <button type="submit">Add Burger!</button>
 			    </div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-warning">
  				<div class="panel-heading">
    			<h3 class="panel-title">Done</h3>
  				</div>
  				<div class="panel-body">
						<ul>
						  {{#each burgers}}
						    {{#if this.devoured}}
						      <li>
						        {{this.burgerName}}
						      </li>
						    {{/if}}
						  {{/each}}
						</ul>
 			    </div>
			</div>
		</div>
	</div>
</div>
